// fonts
$default-family: 'Roboto';
$second-family: 'Ubuntu';

// colors
$gray: #4c5866;
$medium: #666;
$clear: #85859b;
$slight: #b5b5bd;
$violet: #7875fe;
$modified-violet: #4946b4;
$subtle-violet: #dad9fb;
$white: #fff;
$fresh: #ddd;
$classic: #ebebeb;
$grizzly: #c0c0c0;
$white-gray: #c4c4c4;
$transparent-gray: #bcbcbc;

// shifts
$space: 30px;

//media

$desktop: 1279px;
$tablet: 1023px;
$mobile: 767px;
$mini: 500px;